.tilt-neon{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
  }
  body{
    background-color: hsl(280, 36%, 12%);
    font-family: "Tilt Neon", sans-serif;
    color: white;
    }
h1{
    text-align: center;
    font-size: 50px;}
    link{
      display: block;
    }