@font-face {
    font-family: "Tilt";
    src: url("/Tilt.ttf");
  }
    body{
      background-color: hsl(280, 36%, 12%);
      font-family: "Tilt";
      color: white;
      margin: 0;
    } 
    h1{
        color: white;
        font-size: 70px;
    }
    #Input2, #Input3{
        font-size: 1.3vw;
        text-align: center;
        border-style: solid !important;
        border-width: .2vw;
        border-radius: 1vw;
        width: 20vw;
        height: 3.5vw;
        outline: none;
        text-align: center;
        background: linear-gradient(45deg, #19191b, #16161a);
        transition: .5s;
        border: .1vw solid #ffffff26;
        color: white;
        margin-left: 8vw;
        font-family: "Tilt";
    }
    #Input1{
        font-size: 1.3vw;
        text-align: center;
        border-style: solid !important;
        border-width: .2vw;
        border-radius: 1vw;
        width: 20vw;
        height: 3.5vw;
        outline: none;
        text-align: center;
        background: linear-gradient(45deg, #19191b, #16161a);
        transition: .5s;
        border: .1vw solid #ffffff26;
        color: white;
        font-family: "Tilt";
    }