@font-face {
  font-family: "Tilt";
  src: url("/Tilt.ttf");
}
html, body{
      background-color: hsl(280, 36%, 12%);
      font-family: "Tilt";
      color: white;
      margin: 0;
    } 
    banner{
      background-color: #900060;
      height: 60px;
      width: 100%;
    }
  .ButtonText{
    color: white;
    text-decoration: none;
  }
  h3{
    font-size: 80px;
  }
  d1{
    font-size: 80px;
    z-index: 2;
  }
  .clock{
    position: fixed;
    bottom: 0;
  }
  d2{
    font-size: 65px;
    left: 10px;
    top: 50%;
    color: white;
  }
  .fullscreentext{ 
    margin-left: 5px;
    color: white; 
    font-size: 35px;
  }
  #iframe{
    width: 67.6vw;
    height: 500px;
    border: 0;
    border-radius: 25px 25px 0 0;
    margin-left: 50px;
    margin-top: 10px;
  }
  .Tag{
    margin: auto;
    width: 70.6vw;
    height: 70px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    background-color: #9000607c;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .Button{
    background-color: rgb(165, 0, 0);
    width: 20%;
    height: 60px;
    border-radius: 30px;
    float: right;
    margin-right: 25%;
    margin-top: 20%;
    align-items: center;
    text-align: center;
  }
  canvas,div{
      margin: auto;
  } 
  .play {
    height: 1.5vw;
    padding: 2vw 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--main));
    font-size: 2vw;
    border-radius: 1.1vw;
    cursor: pointer;
    margin-bottom: 10rem;
    user-select: none;
    border: none;
    color: #FFFFFF;  
    transition: transform 0.5s;
    margin-top: 1.25vw;
    font-weight: 500;
    font-family:Inter;
  }
  .play:hover { 
    text-decoration: none; color:rgb(255, 255, 255); 
  }
  .play:focus { 
    text-decoration: none; color:rgb(255, 255, 255); 
  }
  .play:active { 
    text-decoration: none; color:rgb(255, 255, 255); 
  }
  .play:hover {
      transform:scale(1.05);
  }
   .gametext {
      font-size:21px;
      display:flex;
      margin: 15vw;
      font-family:Inter;
  }
   .gameicon {
      border-radius: 1vw;
      box-shadow:var(--boxShadow,0 4px 8px 0 rgba(0,0,0,.24));
      background: #1c1c1c;
      margin:0 0.4vw 0 0;
      width:20vw;
      height:20vw;
      margin-left: auto;
      transition: transform 0.5s;
  }
  .margin {
      margin-top: 1.25vw; 
      margin-left: 0.5vw; 
  }   
   .flex {
      display:flex;
  }
   .titletext {
      margin-top: 2vw;
      font:700 3.6vw/3.6vw Inter;
      padding:0 0.5vw 0 0;
      color:#ffffff;
      line-height: 4vw;
  }
   .bytext {
      display:block;
      color: #cfcfcf;
      margin:4px 0 0;
      letter-spacing:0.015vw;
      font:500 2vw/2vw Inter;
      margin-top: -1.8vw;
  }
  link{
    display: block;
  }
  .BannerAdd{
    margin-top: 100px;
    align-items: center;
  }
  .BTM{
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .Imgs{
    width: 150px;
    height: 150px;
    left: 50;
    margin-top: 20%;
    margin-left: 6%;
  }
  .stf{
    margin-top: 8%;
  }
  .advertisment1{
    margin-left: 74vw;
    width: 18vw;
    height: 32vw;
    background-color: #888888;
    border-radius: .5vw;
    display: flex;
    margin-top: -35vw;
    margin-bottom: -5vw;
    outline: .1vw solid #ffffff26;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.24);
  }
  .advertisment2{
    margin-left: 13vw;
    width: 800px;
    height: 200px;
    background-color: #19191b;
    border-radius: .5vw;
    display: flex;
    margin-bottom: -5vw;
    margin-top: 6vw;
    outline: .1vw solid #ffffff26;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,.24);
  }
  .Addtext1{
    font: 400 0.5vw / 1 "Tilt Neon", sans-serif;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.7;
    letter-spacing: 0.05vw;
    position: absolute;
    right: 13.6vw;
    margin-top: 32.2vw;
    transform-origin: right center;
    color: black;
  }
  .Addtext2{
    font: 400 0.5vw / 1 "Tilt Neon", sans-serif;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.7;
    letter-spacing: 0.05vw;
    position: absolute; 
    margin-top: 205px;
    transform-origin: right center;
    margin-left: 360px;
    color: black;
  }
  .imgarrow{
    width: 60px;
    height: 60px;
  }
  link{
    display: block;
  }
  .BTM{
    color: white;
    bottom: 0;
    float: right;
  }
  .BTM2{
    color: white;
    bottom: 0;
    float: right;
  }
  .clock{
    position: relative;
    bottom: 0;
  }
  footer{
    width: 100%;
    height: 50px;
    background-color: #900060;
    margin-bottom: 0;
    padding-top: 250px;
  }
  .Discordlogo{
    width: 7.5vw;
    height: 6vw;
    margin-left: 5vw;
    margin-top: 2VW;
  }
  .DiscordText1{
    font-size: 30px;
    margin-top: 10vw;
    margin-left: -7vw;
  }
  .DiscordText2{
    font-size: 30px;
    margin-top: 14vw;
    margin-left: -9vw;
  }
  .gameframe {
    background: linear-gradient(45deg, #19191b, #16161a);
    padding: 1vw;
    
    transition: .5s;
    box-shadow: 0 0 1vw 0 #171717;
    border-radius: 10px;
    opacity: 90%;
    outline: .1vw solid #ffffff26;
  }
  .game-container {
    margin-left:1.1vw;
    gap: 3vmin;
    margin-bottom:1.5vw;
    margin-top: 5vw;
    margin-left: 4vw;
    animation:fadeIn 0.68s ease-in-out 
  }
  @keyframes fadeIn{
    0%{
        opacity:0 
   }
    100%{
        opacity:1 
   }
  }
  .game-select {
    display: flex;
    gap: 1vw;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .gameframe {
    background: linear-gradient(45deg, #19191b, #16161a);
    padding:1vw;
    width:20vw;
    transition: .5s;
    box-shadow: 0 0 1vw 0 #171717;
    border-radius:10px;
    opacity: 90%;
    outline: .1vw solid #ffffff26;
  }
  .gameframe img {
    border-radius: 1vw;
    width: 10vw;
    height: 10vw;
    margin-left: 5vw;
  }
  .gameframe a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family:Inter;
    font-size: 1.2vw;
    font-weight: 500;
  }
  .gameframe:hover{
    box-shadow: 0 0 1vw 0 var(--main2);
  }
  p, d3{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-family: "Tilt";
    color: white;
    font-size: 2vw;
    text-align: center;
  }
  d3{
    font-size: 1vw;
  }
  #mobile-back-button {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 101;
    top: 100px;
    left: 0;
    width: 56px;
    height: 46px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) 0px 16px 32px;
    border-radius: 0px 16px 16px 0px;
    overflow: hidden;
    cursor: pointer;
}
