    .tilt-neon{
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "XROT" 0,
      "YROT" 0;
    }
    body{
      background-color: hsl(280, 36%, 12%);
      font-family: "Tilt Neon", sans-serif;
      color: white;
      margin: 0;
    } 
    .Banner{
      width: 100%;
      height: 100px;
      background: #900060;
      font-size: 40px;
    }
    #gameframe{
      margin-top:1vw;
      margin-bottom:6vw;
      margin-right: 23vw;
      display:flex 
  }
  #gameframe .gameDisplay{
      margin:auto;
      outline: .1vw solid #ffffff26;
      box-shadow:0 6px 12px 0 rgba(0,0,0,.24);
      width:60.5vw;
      height:38.5vw;
      background-color:#19191b;
      border-radius:.5vw;
      overflow:hidden
  }
  #gameframe .game{
      margin:auto;
      width:60.5vw;
      height:34vw;
      background-color:#444;
      background-repeat:no-repeat;
      background-position:center;
  }
  #gameframe .game iframe{
      width:60.6vw;
      height:34.1vw;
      border: 0;
  }
  #gameframe .options{
      margin:auto;
      width:100%;
      height:2.3vw;
      display:flex;
      align-items:center;
      padding-bottom:1.5vh
  }
  #gameframe .options .left{
      display:flex;
      align-items:center 
  }
  #gameframe .options .right{
      display:flex;
      margin-top: 2.2vw;
      margin-right: 1.5vw;
      align-items:center;
      justify-content:flex-end 
  }
  #gameframe .options .left,#gameframe .options .right{
    width:50%;
    height:100% 
}
#gameframe .options .right{
    display:flex;
    align-items:center;
    justify-content:flex-end 
}
#gameframe .options .right .game-button{
    float:right;
    margin-right:1vw;
    height:70% 
}
.fullscreenbtn {
    border-radius: 0.30vw;
    height: 1.6vw;
    width: 1.6vw;
    cursor: pointer;
    transition: transform .3s ease-in-out;
    box-shadow:0 6px 12px 0 rgba(0,0,0,.24);
    margin-left: 1.2vw;
}
.fullscreenbtn:hover {
    transform: scaleX(1.2) scaleY(1.2) rotate(-10deg);
}
.reloadbtn {
    height: 1.6vw;
    width: 1.6vw;
    cursor: pointer;
    transition: transform .55s ease-in-out;
    box-shadow:0 6px 12px 0 rgba(0,0,0,.24);
}