.tilt-neon{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
body{
    background-color: hsl(280, 36%, 12%);
    font-family: "Tilt Neon", sans-serif;
    color: white;
  } 
.game-select {
  display: flex;
  gap: 1vw;
  max-width: 100%;
  flex-wrap: wrap;
}
banner{
  background-color: #900060;
  height: 60px;
  width: 100%;
}
.backtogame{
  width: 60px;
  height: 60px;
  background-color: #bcbcbc;
  border-radius: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: ease-in .5s;
}
img{
  width: 90px;
  height: 90px;
  border-radius: 20px;
}
.Buttons{
  width: 100%;
  height: 60px;
}
.outline:hover{
  filter: brightness(50%);
  transition: ease, 0.5s;
}
.outline{
background: linear-gradient(90deg, rgba(96,0,96,1) 35%, rgba(144,0,144,1) 100%);
  width: 300px;
  height: 60px;
  border-radius: 20px;
}
.ButtonText{
  color: white;
  text-decoration: none;
}
h3{
  font-size: 80px;
}
d1{
  font-size: 90px;
  z-index: 2;
  color: white;
}
.clock{
  position: fixed;
  bottom: 0;
}
.search{
    width: 400px;
    height: 75px;
    border-radius: 25px;
    background-color: #900060;
    font-size: 30px;
    color: white;
    font-family: "Tilt Neon";
    text-align: center;
}
.gameframe {
  background: linear-gradient(45deg, #19191b, #16161a);
  padding: 1vw;
  
  transition: .5s;
  box-shadow: 0 0 1vw 0 #171717;
  border-radius: 10px;
  opacity: 90%;
  outline: .1vw solid #ffffff26;
}
d2{
  font-size: 65px;
  left: 10px;
  top: 50%;
  color: white;
}
.imgarrow{
  width: 60px;
  height: 60px;
}
link{
  display: block;
}
.BTM{
  color: white;
  position: fixed;
  bottom: 0;
  right: 100px;
}
.BTM2{
  color: white;
  position: fixed;
  bottom: 0;
  right: 200px;
}
.game-container {
  margin-left:1.1vw;
  gap: 3vmin;
  margin-bottom:1.5vw;
  margin-top: 5vw;
  margin-left: 4vw;
  animation:fadeIn 0.68s ease-in-out 
}
@keyframes fadeIn{
  0%{
      opacity:0 
 }
  100%{
      opacity:1 
 }
}
.game-select {
  display: flex;
  gap: 1vw;
  max-width: 100%;
  flex-wrap: wrap;
}
.gameframe {
  background: linear-gradient(45deg, #19191b, #16161a);
  padding:1vw;
  width:20vw;
  transition: .5s;
  box-shadow: 0 0 1vw 0 #171717;
  border-radius:10px;
  opacity: 90%;
  outline: .1vw solid #ffffff26;
}
.gameframe img {
  border-radius: 1vw;
  width: 10vw;
  height: 10vw;
  margin-left: 5vw;
}
.gameframe a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-family:Inter;
  font-size: 1.2vw;
  font-weight: 500;
}
.gameframe:hover{
  box-shadow: 0 0 1vw 0 var(--main2);
}
p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  font-family: "Tilt Neon", sans-serif;
  color: white;
  font-size: 2vw;
  text-align: center;
}