.tilt-neon{
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
body{
    background-color: hsl(280, 36%, 12%);
    font-family: "Tilt Neon", sans-serif;
    color: white;
  } 
.game-select {
  display: flex;
  gap: 1vw;
  max-width: 100%;
  flex-wrap: wrap;
}
banner{
  background-color: #900060;
  height: 60px;
  width: 100%;
}
img{
  width: 60px;
  height: 60px;
}
.Button:hover{
  filter: brightness(50%);
  transition: ease, 0.5s;
}
.ButtonText{
  color: white;
  text-decoration: none;
  font-size: 70px;
}
h3{
  font-size: 80px;
}
d1{
  font-size: 80px;
  z-index: 2;
}
.clock{
  position: fixed;
  bottom: 0;
}
@keyframes fadeIn{
  0%{
      opacity:0 
 }
  100%{
      opacity:1 
 }
}
.Button{
  width: 300px;
  height: 85px;
  background-color: #900060;
  border-radius: 25px;
}